@import url('https://fonts.googleapis.com/css2?family=Karantina&display=swap');

body 
{
  background-color: #000;
  color: #FFF;
  font-size: 24px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  padding: 20px;
}

.cmd-font {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  text-shadow: 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.5);
}

#go-back-btn
{
  position: fixed;
  z-index: 9999;
  bottom: 2%;
  left: 3%;

  & > button
  {
    color: rgba(255,255, 255, 0.5);
    background-color: transparent;
    border: rgba(255, 255, 255, 0.5) 1px solid;  
    font-size: 24px;
    font-weight: 900;
    backdrop-filter: blur(5px);
    transition: all linear 0.3s;
  }

  & > button:hover
  {
    color: #FFFFFF;
    border: #FFF 1px solid;
  }
}

#TAAG
{
  position: relative;
  max-width: 1050px;
  text-align: center;
  margin-bottom: 100px;
  top: 10%; 
}

#second-section, #lyrics-curator {
  max-width: 1600px;
  width: 100%;
}
.tab {
  display: flex;
  justify-content: center;
}
.tabcontent {
  display: none;
  text-align: center;
}

.education
{
  backdrop-filter: blur(5px);
  position: relative;
  max-width: 1050px;
  width: 100%;
  & > button 
  {
    margin: 5px;
  }
}

.edu-desc
{
  max-width: 1066px;
}

.tab 
{
  display: flex;
  justify-content: left;
  position: relative;
  white-space: nowrap;
  margin: none; 
  overflow: hidden;
  border: none; 
  background-color: transparent;
  max-width: 1066px;

  & > button
  {
    color: #FFF; 
    width: 50%;
    background-color: inherit;
    border: 1px solid #ccc;
    outline: none;
    margin: 0;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover 
    {
      background-color: #ddd;
      color: #000;
    }
  }

  & > .active
  {
    background-color: #ddd;
    color: #000;
  }
}

.tabcontent 
{
  display: none;
  max-width: 1066px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

// #second-section {
//   position: relative;
//   height: fit-content;
//   width: 100%; 
//   left: 0;
// }

#free-time-title
{
  font-family: "Karantina", system-ui;
  font-weight: 400;
  font-style: italic;
  font-size: 150px;
  white-space: nowrap;
}

.free-time-fixed
{
  position: fixed; 
}

.free-time-static
{
  position: static;
  padding-left: 25px;
}

#section-title
{
  font-family: "Karantina", system-ui;
  font-weight: 100;
  font-size: 36px;
  white-space: nowrap;
  position: fixed;
  left: 2%;
  top: 0%;
  background-color: #000;
  background-size: cover;
  width: 100%;
  height: fit-content;
  padding-top: 10px; 
  padding-bottom: 10px;
  z-index: 9999; 
}

#free-time-div
{
  left: 0%; 
  padding-bottom: 5%; 
  position: relative;
}

#lyrics-curator
{
  position:relative;
  left: 0%; 
  padding-bottom: 5%; 
}

#lyrics-curator-div
{
  position: absolute;
  left: 0%; 
  top: 85%;
  text-align: left;
  width: 75%;
  transition: all ease-in 0.7s;

  & > #lyrics-curator-links
  { 
    margin-left: 5%;
    &  > button
    {
      border: none; 
      color: white;
      width: 60px; 
      height: 60px;
    }

    & > span
    {
      position: absolute;
      transform: translateX(5%) translateY(33%);
    }
  }

  & > h1
  {
    font-family: "Karantina", system-ui;
    font-weight: 100;
    font-size: 75px;
    white-space: nowrap;
  }
}

#musixmatch 
{
  background-color: rgba(77,77,77,0.4);
  border-radius: 50%;
  transition: all ease-in 0.5s;

  & > img
  {
    width: 100%;
    height: 100%;
    filter: invert(62%) sepia(0%) saturate(0%) hue-rotate(217deg) brightness(92%) contrast(90%);
    transition: all ease-in 0.6s;
  }

  &:before
  {
    content: "Musixmatch";
    font-family: "Karantina", system-ui;
    font-weight: 100;
    font-size: 22px;
    color: #FFF; 
    position: absolute; 
    text-align: center;
    transform: translateY(0%) translateX(-12.5%);
    width: fit-content; 
    opacity: 0;
    z-index: -1; 
    transition: all linear 0.5s;
  }

  &:hover
  {
    border-radius: 25%;
    background-color: rgba(253, 45, 100, 1);

    & > img
    {
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(144deg) brightness(101%) contrast(101%);
    }

    &:before
    {
      transform: translateY(-100%) translateX(-12.5%);
      opacity: 1;
    }
  }
}

#genius
{
  background-color: rgba(77,77,77,0.4);
  border-radius: 50%;
  transition: all ease-in 0.5s;

  & > img
  {
    width: 100%;
    height: 100%;
    filter: invert(62%) sepia(0%) saturate(0%) hue-rotate(217deg) brightness(92%) contrast(90%);
    transition: all ease-in 0.6s;
  }

  &:before
  {
    content: "Genius";
    font-family: "Karantina", system-ui;
    font-weight: 100;
    font-size: 24px;
    color: #FFF; 
    position: absolute; 
    text-align: center;
    transform: translateY(0%) translateX(12.5%);
    width: fit-content; 
    opacity: 0;
    z-index: -1; 
    transition: all linear 0.5s;
  }

  &:hover
  {
    border-radius: 25%;
    background-color: rgba(255, 255, 100, 1);

    & > img
    {
      filter: invert(0%) sepia(17%) saturate(7433%) hue-rotate(90deg) brightness(98%) contrast(93%);
    }

    &:before
    {
      transform: translateY(-100%) translateX(12.5%);
      opacity: 1;
    }
  }
}

#lyrics-curator-img
{
  position: absolute;
  border: #FFF 1px solid;
  max-width: 800px; //default size for my 17'' screen is 768px
  width: 40vw; 
  height: auto; 
  padding: 5px; 
  right: -30%; 
  transition: all ease-in 0.7s;

  & > img
  {
    width: 100%;
    height: 100%;
  }

  &:hover
  {
    padding: 0px;
    border: #FFF 0px solid;
    right: 0%;
  }
}

#contact
{
  position: absolute;
  bottom: -75%; 
  padding-bottom: 15%; 
  text-align: center;

  & > h1
  {
    font-family: "Karantina", system-ui;
    font-weight: 100;
    font-size: 75px;
    white-space: nowrap;
  }

  & > footer
  {
    position: absolute; 
    bottom: 5%;
    font-size: 20px;
    width: 100%;
    text-align: center;
  }
}

#contact-links
{
  position: absolute;
  width: 100%;
  
  & > button
  {
    position: relative;
    width: 75px;
    height: 75px;
    border: none; 
    background: rgba(77, 77, 77, 0.4);
    border-radius: 10%;
    align-items: center;
    justify-content: center;
    transition: all ease-in 0.5s;
    filter: none;

    & > img
    {
      width: 80%;
      height: 80%;
      filter: invert(85%) sepia(0%) saturate(0%) hue-rotate(186deg) brightness(92%) contrast(94%);
      transition: all ease-out 0.4s;
    }

    &:nth-child(4):before
    {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 10%;
      opacity: 0;
      background: #f09433; 
      background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
      background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
      background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
      transition: opacity ease-in 0.5s;
    }
  }

  & > button:hover
  {
    & > img
    {
      width: 100%;
      height: 100%;
    }

    &:nth-child(1) //MAIL
    {
      background: rgba(195, 195, 195, 1);

      & > img
      {
        filter: invert(2%) sepia(8%) saturate(1679%) hue-rotate(328deg) brightness(92%) contrast(97%);
      }
    }

    &:nth-child(2) //GITHUB
    {
      background: #FFF;

      & > img
      {
        filter: invert(11%) sepia(3%) saturate(5129%) hue-rotate(169deg) brightness(96%) contrast(79%);
      }
    }

    &:nth-child(3) //LINKEDIN
    {
      background: #0077B5;

      & > img
      {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(93deg) brightness(102%) contrast(102%);
      }
    }

    &:nth-child(4) //INSTAGRAM
    {
      & > img
      {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(93deg) brightness(102%) contrast(102%);
      }

      &:before
      {
        opacity: 1;
      }
    }

    &:nth-child(5) //YOUTUBE
    {
      background: #FF0000;

      & > img
      {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(93deg) brightness(102%) contrast(102%);
      }
    }
  }
}

#mail-modal-background
{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #000; 
  opacity: 0;
  transition: all ease-in 0.8s;
  z-index: 9998;
  top: 0; 
  left: 0;
}

#mail-modal
{
  padding: 20px;
  color: #FFF; 
  text-align: left;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  width: 100vw;
  height: 100vh;
  position: fixed;
  max-width: 1000px;
  max-height: 500px;
  background-color: #000;
  outline: white 1px solid;
  top: 0%; 
  left: 50%;
  transform: translate(-50%, 50%);
  transition: all ease-out 0.75s; 
  z-index: 9999;

  & > div 
  {
    width: 100%;
    transition: opacity ease-in 0.3s;

    & > span 
    {
      width: 100%;
      display: flex;
      white-space: nowrap;
      & > h5
      {
        width: fit-content; 
      }
      & > input
      {
        color: #FFF; 
        border: none;
        background-color: transparent;
        width: 100%;
        margin-bottom: .5rem;
        margin-left: .5rem;

        &:focus
        {
          outline: none;
        }
      } 
    }

    & > textarea
    {
      color: #FFF; 
      border: 2px dotted #FFF;
      background-color: transparent;
      width: 100%;
      height: 250px; 
      padding: 10px;
      overflow-y: scroll;
      margin-bottom: .5rem;
      margin-left: .5rem;
      resize: none;

      &:focus
      {
        outline: none;
      }
    }

    & > button
    {
      color: rgba(255, 255, 255, 0.4); 
      background-color: transparent;
      border: rgba(255, 255, 255, 0.4) 1px solid;  
      font-size: 24px;
      font-weight: 900;
      transition: all ease-in-out 0.3s;
      margin-top: 1rem;

      &:hover
      {
        color: #FFFFFF;
        border: #FFF 1px solid;
      }
    }
  }
}

#subject
{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#send-email
{
  bottom: 0; 
  text-align: center;
}